[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "<3,>=2"
psycopg = {extras = ["binary"], version = "<4,>=3"}
alembic = "<2,>=1"
python-dotenv = "<2,>=1"
easyocr = "*"
pymupdf = "*"
pdf2image = "*"
python-multipart = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "*"
pytest-playwright = "*"
httpx2 = "*"

[requires]
python_version = "3.14"
